
/**********General***************************************************/
.isDisabled {
	color: currentColor;
	cursor: not-allowed;
	opacity: 0.5;
	text-decoration: none;
  }
  
.shadow {
-moz-box-shadow: 0 0 30px 5px #999;
-webkit-box-shadow: 0 0 30px 5px #999;
box-shadow: 0 0 30px 5px #999;
}
.hideme{
	display: none;	
}

.club_event_title{
	font-size: 24pt;
	font-weight: bold; 
}

.club_event_text{
	font-size:18px;
}

.mainbody{
	background-image: url(../images/image001.jpg);
}

body{
	margin:0;
	padding:0;
	background-color: #ffffff;
	min-height:100%;	
	font-family: Arial, Helvetica, sans-serif;
}
#doc2{
	padding:10px;
	background-color:#ffffff;
	min-height:90%;
}
.required{
	color: red;	
}

.reportTitle {
	font-size: 22pt;
	font-weight: bold;
	color: Gray;
}

.reportSubTitle {
	font-size: 18pt;
	font-weight: bold;
	color: Gray;
}

.whiteh1 { 
	font-size: 14pt; 
	font-weight: bold; 
	color: #FFFFFF;
 }
.whitenorm { 
	font-size: 10pt; 
	font-weight: bold; 
	color: #FFFFFF; 	
}

.whitenormsm { 
	font-size: 8pt; 
	color: #FFFFFF; 	
}

.whiteplain { 
	font-size: 9pt; 
	color: #FFFFFF; 	
}

h2{ 
	font-size: 12pt; 
	font-weight: bold; 
}

th{ 

	font-size: 10pt; 
	font-weight: bold; 
	text-align: center;
}
.h1{ 
	font-size: 14pt; 
	font-weight: bold; 
}

.h2{ 
	font-size: 12pt; 
	font-weight: bold; 
}

.label  { 
	font-size: 10pt; 
	font-weight: bold; 
}

.labelbig  { 
	font-size: 12pt; 
	font-weight: normal; 
	text-decoration: underline;
}
.lighttext  {
	font-size: 8pt;
	color : gray;
}

.bold  {
	font-weight: bold; 
}
.normal { 
	font-size: 10pt; 
	color: black;
}
.normalsm { 
	font-size: 8pt; 
}

.whitenormalsm { 
	font-size: 8pt; 
	color: #FFFFFF; 
}

.italitcsm { 
	font-size: 8pt;
	font-style: italic;  
	font-weight: normal;
}

.italicnorm { 
	font-size: 12pt;
	font-style: italic;  
	font-weight: normal;
}

.notice { 
	font-size: 14pt; 
	color: #006699; 
}
.problem {
	font-size: 12pt; 
	color: red;
}

.biglabel { 
	font-size: 12pt; 
	font-weight: bold; 
}

.biglabelwinfo { 
	font-size: 12pt; 
	font-weight: bold; 
	text-decoration: underline;
}


.bigbanner { 
	font-size: 20pt; 
	color: #000000; 
	font-weight: bold; 
}

.smallbanner { 
	font-size: 14pt; 
	color: #000000; 
	font-weight: bold; 
}

.smallbold { 
	font-size: 8pt; 
	font-weight: bold; 
}
.smallreg { 
	font-size: 8pt; 
}

.medbold { 
	font-size: 12pt; 
	font-weight: bold; 
}

.warning {
	color: red;	
}

.medwidth{
	width: 165px;
	}

.genericth {
	background-color : #529650;
}	

.loginth {
	background-color : Gray;
}

.eventcourt {
	background-color : Silver;
}


.postopencourt { 
	background-color : #C0C0C0;
 }
 
.blackBackGround A:LINK {
	color: black;	
	text-decoration: none;
}

.blackBackGround A:HOVER  {
	color: gray;
	text-decoration: none;	
}
.blackBackGround A:VISITED {
	color: black;	
	text-decoration: none;
}

.white {
	background-color: #FFFFFF;
}

/********* For Tables *********************************************************/
table.activitytable {
	border-collapse: collapse;
	border: 0px solid #000000;

		
}
table.activitytable td{
 padding: 0px;	
 text-align: center;
}


table.scheduletable {
	border-collapse: collapse;
	border: 1px solid #000000;
}


table.scheduletable th, table.scheduletable td  {
	border-top:1px solid #000000;
	border-bottom: 1px solid #000000;

}

table.leaguetable {
	background-color : #DBDDDD; 
	border:1px solid #000000;
}

tr.borderow{
	border:1px solid #000000;
}

.borderless tr td {
	border: none;
}

.bannertable { 
	background-color : #DBDDDD; 
}

.generictable { 
	background-color : #DBDDDD; 
	border:1px solid #000000;
}

.generictable td{
 padding: 5px;	
}


.bordertable {
	border:1px solid #000000;
	padding:0.25em;
}

.bordertablethick {
	border:1px solid #000000;
	padding:0.25em;
	margin-bottom: 0.5em;;
}

.bordertable th{
	border:1px solid #000000;
	text-align: center;
	padding: .25em;
	
}

.borderbox {
	border:1px solid #000000;
	padding:0.25em;
}

tr.darkrow td{
	background-color: #D9D7D7;
	border:1px solid #000000;
	padding:0.25em;
}

tr.lightrow td{
	background-color: #FFF;
	border:1px solid #000;	
	padding:0.25em;
}

tr.darkrow_plain td{
	background-color: #CCC;
	padding:0.25em;
}

tr.lightrow_plain td{
	background-color: #DBDDDD;	
	padding:0.25em;
}
	
table.legend, table.legend td{
 	border:1px solid #000000;
	padding:0.15em;
	font-size: 8pt;
}

#rcorners1 {
	border-radius: 25px;
	background: #e4e4e3;
	padding: 10px;
  }
  

/********* For Tabs*********************************************************/

table.tabtable { 
	background-color : #DBDDDD; 
}

table.tabtable td{
 padding: 10px;	
}

table.skinnytable td{
 padding: 0px;	
}

table.mediumbonedtable td{
 padding: 5px;	
}

.spacer {
	padding-bottom: 15px;	
}

.yui-skin-sam .yui-navset .yui-content {
background:#DBDDDD none repeat scroll 0 0;
}


/********* For Unordered Lists *********************************************************/


ul.clubevents li{
	padding-bottom: 10px;
}

ul.recentavtivity li{
padding-bottom: 10px;
}

ul.clubnews li{
padding-bottom: 2px;
}


ul.ladderactivity li {
	padding-bottom: 10px;
}


.ladderpanel > a:link {
color: #000;
text-decoration: none;
}


/*********System*********************************************************/

.clubid0th {
	background-color : Gray;
}

hr.hrline {
	background-color : Gray;
	height: 5px;	
}

hr.hrlinesm {
	background-color : Gray;
	height: 1px;	
}

/*  For Tabs */


.yui-skin-sam .yui-navset .yui-nav .selected a, .yui-skin-sam .yui-navset .yui-nav .selected a:focus, .yui-skin-sam .yui-navset .yui-nav .selected a:hover {
background:Gray url(../../../../assets/skins/sam/sprite.png) repeat-x scroll left -1400px;
}

.yui-skin-sam .yui-navset .yui-nav, .yui-skin-sam .yui-navset .yui-navset-top .yui-nav {
border-color:Gray;
}

.yui-skin-sam .yui-navset .yui-nav .selected a, .yui-skin-sam .yui-navset .yui-nav .selected a em {
border-color: Gray;
}



.disabled-link {
	pointer-events: none;
	cursor: default;
}