/*********CLEAVER***********************************************************/

.ct2cl7    {
	font-family: Arial, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	background : #CCCC33
}

.preopencourtcl7 { 
	background-color : #DBDDDD; 
}

.reportscorecl7 {
	background-color : #CCCC33;
}

.reservecourtcl7 {
	background-color : #F4FD8A;
}

.reportedcourtcl7 {
	background-color : #F4FD8A;
}

.seekingmatchcl7 {
	background-color : #F4FD8A;
}

.clubid7th {
	background-color : #CCCC33;
}