/*********Commodore***************************************************/

.ct2cl18   {
	font-family: Arial, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	background : #005B88
}

.ct3cl18    {
	font-family: Arial, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	background : #005B88
}



.preopencourtcl18 { 
	background-color : #DBDDDD; 
}

.reportscorecl18 {
	background-color : #C6BBC0;
}

.reservecourtcl18 {
	background-color : #C6BBC0;
}

.clubid18th {
	background-color : #005B88;
}


.reportedcourtcl18 {
	background-color : #C6BBC0;
}

.seekingmatchcl18 {
	background-color : #C6BBC0;
}