/**
 * Demo Club
 */

.ct2cl13    {
	font-family: Arial, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	background : #2E25CF
}

.ct7cl13    {
	font-family: Arial, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	background : #2E25CF
}


.preopencourtcl13 { 
	background-color : #DBDDDD; 
}

.reportscorecl13 {
	background-color : #EEEB7B;
}

.reservecourtcl13 {
	background-color : #EEEB7B;
}

.clubid13th {
   background-color : #2E25CF;
}


.reportedcourtcl13 { 
	background-color : #EEEB7B;
}

.seekingmatchcl13 {
	background-color : #EEEB7B;
}

hr.hrline{
background-color:  #2E25CF;
height: 5px;	
}

/**
 * For Tabs 
 */
.yui-skin-sam .yui-navset .yui-nav .selected a, .yui-skin-sam .yui-navset .yui-nav .selected a:focus, .yui-skin-sam .yui-navset .yui-nav .selected a:hover {
background:#2E25CF url(../../../../assets/skins/sam/sprite.png) repeat-x scroll left -1400px;
}

.yui-skin-sam .yui-navset .yui-nav, .yui-skin-sam .yui-navset .yui-navset-top .yui-nav {
border-color:#2E25CF;
}

.yui-skin-sam .yui-navset .yui-nav .selected a, .yui-skin-sam .yui-navset .yui-nav .selected a em {
border-color: #2E25CF;
}

/** 
 * -New Skin-
 * updated on 1-11-2012
 */
html{
	height:100%;
}
body {
	margin:0;
	padding:0;
	/* TODO: Allow Admin's to customize background image*/
	background-image: url(../../images/squash-scotstoun.jpg);
	background-repeat: no-repeat;
	background-position: -650px -670px;
	min-height:100%;
	background-attachment:fixed;
}

#doc2{
	padding:10px;
	background-color:rgba(255,255,255,0.95);
	min-height:90%;
}
