services:
  web:
    container_name: clubpro-web
    build: .
    ports:
     - "8082:80"
    volumes:
    - .:/var/www/html
    links:
    - db
  db:
    platform: linux/amd64
    image: mysql:8.0.42-debian
    container_name: clubpro-db
    command: --default-authentication-plugin=mysql_native_password
    restart: no
    environment:
      MYSQL_ROOT_PASSWORD: clubs4life
      MYSQL_DATABASE: clubpro_main
    ports:
     - "3308:3306"
    volumes:
      - data:/var/lib/mysql
volumes:
  data:
  