/********* MLTAC ***************************************************/

.ct2cl9    {

	font-family: Arial, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	background : #5386A2

}

.ct3cl9    {
	font-family: Arial, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	background : #5386A2
}


.preopencourtcl9 { 
	background-color : #DBDDDD; 
}

.reportscorecl9 {
	background-color : #8EB3C6;
}

.reservecourtcl9 {
	background-color : #3D6276;
}

.clubid9th {
   background-color : #5386A2;
}


.reportedcourtcl9 { 
	background-color : #DCDCBA;
}

.seekingmatchcl9 {
	background-color : #5386A2;
}