/********* Hamilton ***************************************************/

.ct2cl21   {
	font-family: Arial, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	background : #005B88
}





.preopencourtcl21 { 
	background-color : #DBDDDD; 
}

.reportscorecl21 {
	background-color : #C6BBC0;
}

.reservecourtcl21 {
	background-color : #C6BBC0;
}

.clubid21th {
	background-color : #005B88;
}


.reportedcourtcl21 {
	background-color : #C6BBC0;
}

.seekingmatchcl21 {
	background-color : #C6BBC0;
}