/*********CLEAVER***********************************************************/

.ct7cl13    {
	font-family: Arial, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	background : #CCCC33
}

.preopencourtcl13 { 
	background-color : #DBDDDD; 
}

.reportscorecl13 {
	background-color : #CCCC33;
}

.reservecourtcl13 {
	background-color : #CCCC33;
}

.reportedcourtcl13 {
	background-color : #CCCC33;
}

.seekingmatchcl13 {
	background-color : #CCCC33;
}

.clubid13th {
	background-color : #CCCC33;
}