/********* OXFORD MONROEVILLE**********************************************************/


}
.ct7cl11    {
	font-family: Arial, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	background : #4573B3
}
.preopencourtcl11 { 
	background-color : #DBDDDD; 
}

.reportscorecl11 {
	background-color : #7599CA;
}

.reservecourtcl11 {
	background-color : #7599CA;
}

.reportedcourtcl11 { 
	background-color : #7599CA;
}

.seekingmatchcl11 {
	background-color : #7599CA;
}

.clubid11th {
	background-color : #4573B3;
}