/*********Cleveland Skating Club ***********************************************************/

.ct2cl20    {
	font-family: Arial, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	background : #568bd8;
}


.preopencourtcl20 { 
	background-color : #DBDDDD; 
}

.reportscorecl20 {
	background-color : #ced8f3;
}

.reservecourtcl20 {
	background-color : #ced8f3;
}

.reportedcourtcl20 { 
	background-color : #ced8f3;
}

.seekingmatchcl20 {
	background-color : #aacce0;
}

.clubid20th {
	background-color : #568bd8;
}

hr.hrline{
background-color:  #568bd8;
height: 5px;	
}

/*  For Tabs */
.yui-skin-sam .yui-navset .yui-nav .selected a, .yui-skin-sam .yui-navset .yui-nav .selected a:focus, .yui-skin-sam .yui-navset .yui-nav .selected a:hover {
background:#568bd8 url(../../../../assets/skins/sam/sprite.png) repeat-x scroll left -1400px;
}

.yui-skin-sam .yui-navset .yui-nav, .yui-skin-sam .yui-navset .yui-navset-top .yui-nav {
border-color:#568bd8;
}

.yui-skin-sam .yui-navset .yui-nav .selected a, .yui-skin-sam .yui-navset .yui-nav .selected a em {
border-color: #568bd8;
}