/*********CLEAVER***********************************************************/

.ct6cl16    {
	font-family: Arial, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	background : #CCCC33
}

.preopencourtcl16 { 
	background-color : #DBDDDD; 
}

.reportscorecl16 {
	background-color : #CCCC33;
}

.reservecourtcl16 {
	background-color : #CCCC33;
}

.reportedcourtcl16 {
	background-color : #CCCC33;
}

.seekingmatchcl16 {
	background-color : #CCCC33;
}

.clubid16th {
	background-color : #CCCC33;
}