/********* Detroit Athletic Club ***************************************************/

.ct2cl23   {
	font-family: Arial, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	background : #005B88
}


.preopencourtcl23 { 
	background-color : #DBDDDD; 
}

.reportscorecl23 {
	background-color : #C6BBC0;
}

.reservecourtcl23 {
	background-color : #C6BBC0;
}

.clubid23th {
	background-color : #005B88;
}


.reportedcourtcl23 {
	background-color : #C6BBC0;
}

.seekingmatchcl23 {
	background-color : #C6BBC0;
}