
<html>

<head>

</head>


<body>
	
<div style="font-family: Georgia, serif;  
	border: 3px solid #E6E7E8;">
  <div style="padding: 10px;
		border-bottom: 5px solid #E6E7E8;">
  	<img alt="Logo-original" src="http://sportsynergy.net/clubpro/clubs/%sitecode%/logo.png" />
  </div>
  <div style="font-size: 18px;
	  padding: 20px 20px 25px 20px;">
    <p style="font-family: Arial, sans-serif;
	  font-size: 12px;
	  color: #4E5266;">
    This is an automated message from %clubname%. Please do not reply to this message.
    </p>

    <h1 style="font-family: Impact, Charcoal, sans-serif;
	  font-weight: normal;
	  font-size: 30px;
	  padding-bottom: 10px;">  Hey %firstname%, </h1>
    <p>%content% </p>

    
    <p style="padding-bottom: 10px;
    padding-top: 10px;
	font-size: 14px;">
      -- Staff Robot <br/>

    </p>
     <p style="font-family: Arial, sans-serif;
	  font-size: 12px;
	  color: #4E5266;margin-top: 50px">
      P.S. This email was sent through Sportsynergy, the online court reservation system.  To learn more about Sportsynergy, visit <a href="http://www.sportsynergy.net" target="_blank">http://www.sportsynergy.net</a>.
    </p>
  </div>
</div>
</body>
</html>