/********* Kiva ***********************************************************/

.ct2cl27   {
	font-family: Arial, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	background : #666;
}

.ct3cl27   {
	font-family: Arial, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	background : #666;
}

.preopencourtcl27 { 
	background-color : #DBDDDD; 
}

.reportscorecl27 {
	background-color : #CCCC33;
}

.reservecourtcl27 {
	background-color : #F3F7A6;
}

.reportedcourtcl27 {
	background-color : #CCCC33;
}

.seekingmatchcl27, .seekingmatchcl27 * a:link, .seekingmatchcl27 * a:visited, .seekingmatchcl27 * a:active {
	background-color : #8A2700;
	color:#FFFFFF;
}

.clubid27th {
	background-color : #666;
}

hr.hrline{
background-color:  #666;
height: 5px;	
}

/*  For Tabs */
.yui-skin-sam .yui-navset .yui-nav .selected a, .yui-skin-sam .yui-navset .yui-nav .selected a:focus, .yui-skin-sam .yui-navset .yui-nav .selected a:hover {
background:#666 url(../../../../assets/skins/sam/sprite.png) repeat-x scroll left -1400px;
}

.yui-skin-sam .yui-navset .yui-nav, .yui-skin-sam .yui-navset .yui-navset-top .yui-nav {
border-color:#666;
}

.yui-skin-sam .yui-navset .yui-nav .selected a, .yui-skin-sam .yui-navset .yui-nav .selected a em {
border-color: #666;
}
